.container {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 101;
}
.container button {
  background-color: transparent;
}
.containerDev {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 101;
}
.containerDev button {
  background-color: transparent;
}
.containerDev header {
  background-color: #0a0;
}
.knapp {
  background-color: transparent;
  border: none;
  color: white;
  font-weight: 400;
  text-transform: none;
}
.knapp:hover {
  background-color: #0067c5;
}
.knapp:focus {
  box-shadow: none;
}
.endringslogg-container {
  color: black;
  margin-top: -4px;
}
.endringslogg-container :global(.endringslogg-dropDown) {
  transform: scale(0.65);
}
.endringslogg-container :global(.collapse-header) {
  background-color: #3e3832;
}
.endringslogg-container :global(.ringring) {
  border: 3px solid #ba3a26;
}
.endringslogg-container :global(.circle) {
  background-color: #ba3a26;
}
