@import '@navikt/ds-tokens';

.container {
	top: 0;
	width: 100%;
	z-index: 101;
}
.container button {
	background-color: transparent;
}
.containerDev header {
	background-color: #0a0;
}
.knapp {
	background-color: transparent;
	border: none;
	color: white;
	text-transform: none;
	font-weight: 400;
	padding: var(--a-spacing-3) var(--a-spacing-5);
}
.knapp:hover {
	background-color: #0067c5;
}
.knapp:focus {
	box-shadow: none;
}
.endringslogg-container {
	color: black;
	margin-top: 4px;
}

.endringslogg-container :global(.endringslogg) {
	margin-right: unset;
}

.endringslogg-container :global(.endringslogg-dropDown) {
	transform: scale(0.65);
}
.endringslogg-container :global(.collapse-header) {
	background-color: #3e3832;
}
.endringslogg-container :global(.ringring) {
	border: 3px solid #ba3a26;
}
.endringslogg-container :global(.circle) {
	background-color: #ba3a26;
}
