.container {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 101;

  button {
    background-color: transparent;
  }
}

.containerDev {
  .container();

  header {
    background-color: #0a0;
  }
}

.knapp {
  background-color: transparent;
  border: none;
  color: white;
  font-weight: 400;
  text-transform: none;
}

.knapp:hover {
  background-color: #0067c5;
}

.knapp:focus {
  box-shadow: none;
}

.containerDev {
  .container();

  header {
    background-color: #0a0;
  }
}
