@import '@{coreModulePath}nav-frontend-core/less/_variabler';

.overskrift {
  color: @navMorkGra;
  font-family: "Source Sans Pro";
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 22px;
  margin-bottom: 2px;
}

.info {
  color: @navMorkGra;
  font-family: "Source Sans Pro";
  font-size: 18px;
  letter-spacing: 0;
  margin-bottom: 2px;
}

.koer {
  padding: 15px 0 0 20px;
}

.personinfo {
  padding: 5px 0 0 20px;
}

.brukerident {
  margin-right: 40px;
  width: 25%;
}

.epost {
  padding-left: 20px;
  width: 75%;
}

.container {
  background-color: @navLysGra;
}

.slett {
  color: @redError;
  font-family: "Source Sans Pro";
  font-size: 18px;
  letter-spacing: 0;
  line-height: 23px;
  padding-left: 18px;
  padding-top: 10px;
}
