.modal {
  border: 1px solid #262626;
  box-shadow: 0 2px 4px 0 #00000080;
  height: 200px;
  text-align: center;
  width: 560px;
}
.buttons {
  display: inline-flex;
}
.text {
  margin-bottom: 30px;
  margin-top: 30px;
}
