{
	"env": {
		"browser": true
	},
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"sourceType": "module",
		"ecmaFeatures": {
			"ecmaVersion": 8,
			"jsx": true,
			"impliedStrict": true
		}
	},
	"plugins": ["@typescript-eslint", "react-hooks", "import"],
	"extends": ["airbnb", "plugin:@typescript-eslint/recommended", "prettier"],
	"settings": {
		"import/resolver": {
			"typescript": {},
			"node": {
				"extensions": [".js", ".jsx", ".ts", ".tsx", ".less", ".scss"],
				"moduleDirectory": ["node_modules", "src/"]
			}
		}
	},
	"overrides": [
		{
			"files": ["*.spec.ts", "*.spec.tsx"],
			"rules": {
				"@typescript-eslint/no-explicit-any": 0,
				"import/no-unused-modules": 0
			}
		}
	],
	"rules": {
		"import/no-extraneous-dependencies": 0,
		"import/no-unused-modules": [
			1,
			{
				"unusedExports": true,
				"missingExports": true,
				"ignoreExports": []
			}
		],
		"@typescript-eslint/no-use-before-define": ["error"],
		"@typescript-eslint/no-shadow": "error",
		"react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx", ".ts", ".tsx"] }],
		"import/extensions": [
			"error",
			"ignorePackages",
			{
				"js": "never",
				"jsx": "never",
				"ts": "never",
				"tsx": "never"
			}
		],
		"no-use-before-define": "warn",
		"no-shadow": "warn",
		"max-len": [1, 160],
		"react/jsx-props-no-spreading": "off",
		"react/destructuring-assignment": "off",
		"jsx-a11y/control-has-associated-label": "off",
		"react/function-component-definition": "off",
		"implicit-arrow-linebreak": "off",
		"function-paren-newline": "off",
		"arrow-parens": "off",
		"object-curly-newline": "off"
	}
}
