server {
  listen       8030;
  server_name  "${APP_HOSTNAME}";
  

  location @401_json {
    default_type application/json;
    return 401 '{"feilmelding":"Bruker ikke innlogget","type":"MANGLER_TILGANG_FEIL"}';
  }

  location @403_json {
    default_type application/json;
    return 403 '{"feilmelding":"Innlogget bruker har ikke tilgang til ressursen","type":"MANGLER_TILGANG_FEIL"}';
  }

  location @404_json {
    default_type application/json;
    return 404 '{"feilmelding":"Kunne ikke finne ressursen, beklager.","type":"IKKE_FUNNET_FEIL"}';
  }

  location @504_json {
    default_type application/json;
    return 504 '{"feilmelding":"Timet ut","type":"GENERELL_FEIL"}';
  }

   location  "/api/" {
    proxy_pass "${K9_LOS_API_URL}/";
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto $scheme;
    proxy_cookie_domain k9-los-oidc-auth-proxy.dev.intern.nav.no https://k9-los-web.dev.adeo.no;
    proxy_intercept_errors on;
    error_page 401 = @401_json;
    error_page 403 = @403_json;
    error_page 404 = @404_json;
    error_page 504 = @504_json;
  }

  location = /login {
    proxy_pass "http://k9-los-oidc-auth-proxy.dev.intern.nav.no/login"
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto $scheme;
    proxy_cookie_domain k9-los-oidc-auth-proxy.dev.intern.nav.no https://k9-los-web.dev.adeo.no;
  }

  location / {
    add_header              X-Application-Id "${APP_NAME}, pod=${APP_HOSTNAME}"; 
    add_header              Content-Security-Policy "default-src 'self'; connect-src 'self' ${AUTH_PROXY_BASE_URL} ${AUTH_PROXY_BASE_URL_WSS} https://sentry.gc.nav.no https://familie-endringslogg.intern.dev.nav.no https://familie-endringslogg.intern.nav.no/; frame-src 'self' ${AUTH_PROXY_BASE_URL}; font-src 'self' data: https://cdn.nav.no; img-src 'self' data:; style-src 'self' 'unsafe-inline';";
    add_header              Strict-Transport-Security "max-age=31536000";

    root   /usr/share/nginx/html;
    index  index.html index.htm;
    try_files $uri $uri/ /index.html;    
  }

    location /public {
    root   /usr/share/nginx/html;
    try_files $uri $uri/ =404;
}


  location = /envVariables {
      alias /tmp/k9-los/env.json;
      default_type application/json;
    }


  location = /isAlive {
    return 200 "Application:UP";
    add_header Content-Type text/plain;
  }

  location = /isReady {
    return 200 "Application:READY";
    add_header Content-Type text/plain;
  }

  error_log /dev/stdout info;
  charset utf-8;

  client_body_buffer_size 20M; # Default er satt veldig lavt. Får problemer med enkelte dokument queries.
}
