.button {
	background-color: white;
	border: 0;
	color: #0067c5;
	letter-spacing: 0;
	margin-bottom: 5px;
	padding: 5px 10px;
	text-align: left;
	width: 100%;
}
.button:hover {
	background-color: #d3d3d3;
	color: #0067c5;
	letter-spacing: 0;
}
.button:disabled {
	background-color: white;
	color: #a0a0a0;
}
.button:disabled:hover {
	background: inherit;
	color: #a0a0a0;
}
