.wrapper {
	border-bottom: 1px solid #cfcfcf;
	padding: 0 1.25rem;
}
.wrapper :global(.navds-body-short) {
	align-items: center;
	display: flex;
	justify-content: space-between;
}
.wrapper :global(.navds-checkbox__label) {
	padding: 0.5rem 0 !important;
}

.chevronIconChecked {
	transform: rotate(90deg);
}
.numberBubble {
	align-items: center;
	background: #0067c5;
	border-radius: 50%;
	color: white;
	display: flex;
	height: 1.15rem;
	justify-content: center;
	margin-right: 0.8125rem;
	width: 1.15rem;
}
.wrapperRight {
	align-items: center;
	display: flex;
}
