.rowHeader {
    border-bottom: 1px solid #a0a0a0;
    cursor: default;
    font-weight: bold;
}
.rowContent {
    border-bottom: 1px solid #a0a0a0;
    cursor: pointer;
}
.selected {
    background-color: #f5f5f5;
    cursor: default;
}
.bold {
    font-weight: bold;
}
.dashedBottomBorder {
    border-bottom: dashed 1px #c9c9c9;
}
.solidBottomBorder {
    border-bottom: solid 1px #a0a0a0;
}
.apLeftBorder {
    border-left: solid 5px #fa3;
}
