@import '@{coreModulePath}nav-frontend-core/less/_variabler';

.isUnderBehandling {
  background-color: @navOransjeLighten80;
}

.image {
  padding: 14px;
}

.noPadding {
  padding: 1px;
}

.reservertTil {
  font-size: 12px;
  line-height: 25px;
}

.spinner {
  left: 50%;
}

.oppgavetabell_row {
  pointer-events: none;
}

.soekerPadding {
  padding-right: 2.375rem;
}

.hastesak {
  background-color: #fde8e6;
}

.hastesakIkon {
  margin-top: 0.125rem;
  path:first-of-type {
    fill: #ba3a26;
  }
}
