.statusAksjonspunkt {
    animation-duration: 1s;
    animation-name: fadein;
    animation-timing-function: ease-out;
    border-color: #ffa733;
    border-left-style: solid;
}
.statusOk {
    animation-duration: 1s;
    animation-name: fadein;
    animation-timing-function: ease-out;
}
.panelPadding {
    padding: 20px;
}
.marginBottom {
    margin-bottom: 24px;
}
.disabled {
    text-decoration: none;
    color: #a0a0a0;
    pointer-events: none;
}
.disabled:focus {
    outline: none;
}
.link {
    text-decoration: none;
    background-color: #d8d8d8;
    color: black;
    padding: 0.5rem 2.5rem;
    /* stylelint-disable-next-line no-descending-specificity */
}
.link.isActive {
    background-color: white;
    pointer-events: none;
}
.link:hover {
    color: #0067c5;
}
.link:focus {
    color: #0067c5;
    padding: 0.5rem 2.5rem;
    text-decoration: none;
}

.link.isActive,
.link:active {
    color: #005b82;
    padding: 0.7rem 2.5rem 0.5rem;
    text-decoration: none;
}
.link:focus:hover {
    color: #0067c5;
}
.link.isActive:focus,
.link:active:focus {
    color: #634689;
    text-decoration: none;
}
