.nyeOgFerdigstilteOppgaverForIdagPanel_Subtitel {
	align-content: center;
	display: flex;
	flex-direction: row;
}
.nyeOgFerdigstilteOppgaverForIdagPanel_Subtitel :last-child {
	margin-left: auto;
}
.nyeOgFerdigstilteOppgaverForIdagPanel_Subtitel p {
	align-items: center;
	display: flex;
	font-size: 1.25rem;
}
