.table {
    font-family: 'Source Sans Pro', Arial, sans-serif;
    width: 100%;
}
.hastesakIkon {
    margin-top: 0.125rem;
}
.hastesakIkon path:first-of-type {
    fill: #ba3a26;
}
.hastesakRad {
    background-color: #fde8e6;
}
