.container {
	margin-bottom: 20px;
	width: 98%;
}
.button {
	margin-top: 31px;
}
.advarselIcon,
.feilmelding {
	display: inline-block;
	margin-right: 1ex;
	vertical-align: text-bottom;
}
.info {
	font-family: 'Source Sans Pro', Arial, sans-serif;
	font-size: 14px;
	width: 100%;
}
