@import '@{coreModulePath}nav-frontend-core/less/_variabler';

.panel {
  border: 1px solid @navGra40;
  border-radius: 0;
}

.crosshair {
  background: #3a3a48;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 12px;
  opacity: 0.8;
  padding: 7px 10px;
  text-align: left;
  white-space: nowrap;
}

.displayInline {
  color: #3e3832;
  display: inline;
  font-family: "Source Sans Pro";
  font-size: 16px;
  letter-spacing: 0;
}

.container {
  display: inline-flex;
}

.date {
  color: #3e3832;
  font-family: "Source Sans Pro";
  font-size: 32px;
  font-weight: bold;
  height: 42px;
  letter-spacing: 0;
  line-height: 36px;

  @media only screen and (max-width: 1600px) {
    font-size: 20px;
    height: 32px;
  }
}

.weekday {
  color: #3e3832;
  font-family: "Source Sans Pro";
  font-size: 32px;
  height: 72px;
  letter-spacing: 0;
  line-height: 36px;

  @media only screen and (max-width: 1600px) {
    font-size: 20px;
    height: 52px;
  }
}

.legendContainer {
  margin-top: -100px;

  @media only screen and (max-width: 1600px) {
    margin-top: -50px;
  }
}

.legend {
  display: flex;
}

.month {
  color: #3e3832;
  font-family: "Source Sans Pro";
  font-size: 28px;
  letter-spacing: 0;
  line-height: 23px;
  margin-left: 10px;
  margin-top: 10px;

  @media only screen and (max-width: 1600px) {
    font-size: 20px;
  }
}

.valgtValues {
  color: #3e3832;
  font-family: "Source Sans Pro";
  font-size: 16px;
  height: 40px;
  letter-spacing: 0;

  @media only screen and (max-width: 1600px) {
    font-size: 12px;
    height: 30px;
  }
}

.dot {
  border-radius: 50%;
  display: inline-block;
  height: 30px;
  margin-right: 10px;
  width: 30px;

  @media only screen and (max-width: 1600px) {
    height: 20px;
    width: 20px;
  }
}
