.navSelect select {
	-ms-overflow-style: -ms-autohiding-scrollbar;
}
.navSelect select:disabled {
	background: none;
	background-color: #e9e7e7;
	border: 0;
	border-color: #b7b1a9;
	box-shadow: none;
	color: #3e3832;
	padding-left: 0;
	padding-right: 0;
}
.navSelect select:required:invalid {
	color: gray;
}
.navSelect option {
	color: black;
}
.navSelect option[disabled] {
	color: gray;
}
.navSelectReadOnly > div::before,
.navSelectReadOnly > div::after {
	display: none;
}
