@import '@{coreModulePath}nav-frontend-core/less/_variabler';

.form {
  padding-bottom: 20px;
  padding-left: 10px;
  padding-top: 10px;
}

.stonadstypeRadios {
  margin-top: 6px;
}

.lowerRow {
  display: inline-flex;
}

.antall {
  left: 70%;
}

.radios {
  display: -webkit-box;
}

.kriterier {
  margin-left: 10%;
}

.skjermet {
  padding-bottom: 30px;
}

.sortering {
  margin-left: 10%;
}

.header {
  color: @navMorkGra;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-size: 22px;
  font-weight: bold;
  line-height: 22px;
}

.line {
  color: @navMorkGra;
}

.label {
  color: @navMorkGra;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
}

.row {
  display: flow-root;
}

.punsjUndervalg {
  margin-left: 0.5rem;
}

.navn {
  padding-bottom: 30px;
}

.stonadsVelger {
  padding-bottom: 30px;
}

.slett {
  color: #c30000;
  font-size: 16px;
  line-height: 22px;
  padding-left: 5px;
  text-decoration-line: underline;
}

.slettContainer {
  display: inline-flex;
  float: right;
  margin-inline-end: -400%;

  @media all and (max-width: 1920px) {
    margin-inline-end: -300%;
  }

  @media all and (min-width: 1920px) {
    margin-inline-end: -300%;
  }

  @media all and (min-width: 2500px) {
    margin-inline-end: -500%;
  }

  @media all and (min-width: 2500px) {
    margin-inline-end: -700%;
  }

  @media all and (min-width: 3000px) {
    margin-inline-end: -1000%;
  }

  @media all and (min-width: 3200px) {
    margin-inline-end: -900%;
  }
}

.saksbehandlere {
  display: contents;
}

.middle {
  display: inline-flex;
  float: right;
}

.middleColumn {
  margin-right: 30px;
}

.middleHeader {
  margin-right: 300px;
}

.punsjVal {
    align-items: center;
  background-color: white;
  border: 0;
  display: flex;
  font-weight: normal;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;

  :first-child {
    margin-left: -0.25rem;
    margin-right: 0.7rem;
  }
}

.punsjVal .punsjTekst {
  color: @navMorkGra;
  @media only screen and (max-width: 1600px){
    font-size: 13px;
  }
}
