@import '@{coreModulePath}nav-frontend-core/less/_variabler';

.grayBox {
  background-color: @navLysGra;
  padding: 5px 15px 5px 15px;

  @media only screen and (max-width: 1900px) {
    padding: 5px 5px 5px 5px;
  }
}

.antallTekst {
  @media only screen and (max-width: 1900px) {
    font-size: 13px;
  }
}

.form {
  padding-left: 10px;
  padding-top: 10px;
}

.stonadstypeRadios {
  margin-top: 6px;
}

.lowerRow {
  display: inline-flex;
}

.antall {
  left: 70%;
}

.radios {
  display: -webkit-box;
}

.kriterier {
  margin-left: 10%;
}

.sortering {
  margin-left: 10%;
}
