@import '@{coreModulePath}nav-frontend-core/less/_variabler';

.grayBox {
  background-color: @navLysGra;
  padding: 5px 15px 5px 15px;
}

.form {
  padding-left: 10px;
  padding-top: 10px;
}

.stonadstypeRadios {
  margin-top: 6px;
}

.lowerRow {
  display: inline-flex;
}

.antall {
  float: right;
  margin-right: -800px;
  margin-top: 10px;

  @media only screen and (max-width: 2000px) {
    margin-right: -35rem;
  }
}

.kriterier {
  float: right;
  margin-right: -150px;

  @media only screen and (max-width: 2000px) {
    margin-right: -12rem;
  }
}

.sortering {
  float: right;
  margin-right: -700px;

  @media only screen and (max-width: 2000px) {
    margin-right: -43rem;
  }
}
