.panel {
    border: 1px solid #a0a0a0;
    border-radius: 0;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
}
.container > * {
    margin-bottom: 1rem;
}
.spinner {
    left: 30%;
}
.ingenTall {
    margin-top: -20px;
}
.valgPanel {
    display: inline-flex;
    margin-bottom: 60px;
}
.toggles {
    padding-left: 48px;
}
.venstreKnapp {
    background-color: transparent;
    border: 1px solid #0067c5;
    border-radius: 4px 0 0 4px;
    box-shadow: none;
    color: #262626;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 16px;
    height: 40px;
    text-transform: none;
    width: 144px;
}
.venstreKnapp:focus {
    background-color: #c2eaf7;
    outline: none;
}
.venstreKnapp:disabled {
    background-color: #c2eaf7;
    outline: none;
}
.venstreKnappAktiv {
    border: 1px solid #0067c5;
    border-radius: 4px 0 0 4px;
    box-shadow: none;
    color: #262626;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 16px;
    height: 40px;
    text-transform: none;
    width: 144px;
    background-color: #c2eaf7;
}
.venstreKnappAktiv:focus {
    background-color: #c2eaf7;
    outline: none;
}
.venstreKnappAktiv:disabled {
    background-color: #c2eaf7;
    outline: none;
}
.hoyreKnapp {
    background-color: transparent;
    border: 1px solid #0067c5;
    box-shadow: none;
    color: #262626;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 16px;
    height: 40px;
    text-transform: none;
    width: 144px;
    border-radius: 0 4px 4px 0;
}
.hoyreKnapp:focus {
    background-color: #c2eaf7;
    outline: none;
}
.hoyreKnapp:disabled {
    background-color: #c2eaf7;
    outline: none;
}
.hoyreKnappAktiv {
    border: 1px solid #0067c5;
    box-shadow: none;
    color: #262626;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 16px;
    height: 40px;
    text-transform: none;
    width: 144px;
    border-radius: 0 4px 4px 0;
    background-color: #c2eaf7;
}
.hoyreKnappAktiv:focus {
    background-color: #c2eaf7;
    outline: none;
}
.hoyreKnappAktiv:disabled {
    background-color: #c2eaf7;
    outline: none;
}
