.filterTopp {
	position: relative;
	width: 75%;
	left: 50%;
	transform: translateX(-50%);
}
.filterFelt {
	padding-left: 0;
}
.filterFelt > div {
	display: flex;
	gap: var(--a-spacing-4);
	margin-top: var(--a-spacing-4);
}
.filterFelt > div > div {
	display: inline-block;
}
.filterFelt > * {
	padding-left: var(--a-spacing-4);
}
.filter {
	position: relative;
	margin-top: var(--a-spacing-4);
}
.filter > .filter {
	background-color: #eee;
}
.filter > .filter > .filter {
	background-color: #fff;
}
.filter > .filter > .filter > .filter {
	background-color: #eee;
}
.filterButtonGroup {
	display: flex;
	margin-top: var(--a-spacing-8);
	padding-bottom: var(--a-spacing-8);
	gap: var(--a-spacing-4);
}
.selectEnkelFelt {
	display: flex;
	align-items: center;
}
.feltvalgBlokk {
	margin-top: var(--a-spacing-8);
}
.limitTextField {
	margin-top: var(--a-spacing-8);
	padding-bottom: var(--a-spacing-16);
}
