.oppgaveContainer {
	margin-left: 60px;
	margin-right: auto;
	width: 100%;
}
.leftColumn {
	margin-right: 40px;
	width: 80%;
}
.rightColumn {
	margin-top: -155px;
	padding-left: 20px;
}
.rightColumn > div {
	margin-bottom: 16px;
}
@media all and (max-width: 1650px) {
	.oppgaveContainer {
		margin-left: 30px;
	}
	.leftColumn {
		width: 100%;
	}
	.rightColumn {
		margin-left: 0;
		margin-top: 20px;
		width: 100%;
	}
	.gridContainer {
		display: flex;
		flex-flow: row wrap;
		max-height: 100%;
		max-width: 100%;
	}
	.sakslisteContent {
		order: 3;
	}
}
@media all and (max-width: 800px) {
	.gridContainer {
		max-width: 640px;
	}
}
.avdelingslederContent {
	margin-bottom: 20px;
	margin-right: 20px;
	min-width: -webkit-fill-available;
	min-width: -moz-available;
	width: fit-content;
}
