.merkelapper {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;
}
.merkelapp {
	align-items: center;
	background-color: white;
	border: 2px solid var(--a-text-action);
	border-radius: var(--a-border-radius-medium);
	color: var(--a-text-action);
	cursor: pointer;
	display: inline-flex;
	gap: 0.5rem;
	padding: 1.5px 3px;
	text-align: left;
}
.merkelapp:hover {
	color: var(--a-text-action-selected);
	border-color: var(--a-text-action-selected);
}
.merkelapp:focus {
	box-shadow: var(--a-shadow-focus);
}
.tekst {
	-webkit-box-orient: vertical;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	overflow: hidden;
	font-size: 0.825rem;
}
